<app-item 
*ngFor="let product of products | async" 
(removeClick)="onRemoveItemClick($event)"
(editClick)="onEditClick(content, product)"
[itemId]="product.id"
[name]="product.name" 
[description]="product.description || ''"
></app-item>
<button type="button" class="btn btn-secondary add-btn" (click)="onAddItemClick(content)">
  <span>+</span>
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Item</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close')"></button>
  </div>
  <div class="modal-body">
    <div>Complete the form</div>
    <form [formGroup]="modalForm">
      <div class="mb-3">
        <label class="form-label" for="name">Name: </label>
        <input class="form-control" id="name" type="text" formControlName="name">
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description: </label>
        <input class="form-control" id="description" type="textarea" formControlName="description">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [class.disabled]="!modalForm.valid" type="button" class="btn btn-outline-dark" (click)="modal.close('Save')">Save</button>
  </div>
</ng-template>