/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(248 250 252);
    font-size: 16px;
    padding: 0 4em;
}